.goals-dashboard {
  .status {
    padding: 8px 14px;
    border-radius: 6px;
    min-width: 60px;
    display: inline-block;
    text-align: center;
    color: #fff;
  }
  .status-Open {
    background-color: #26C6DA;
  }
  .status-Closed {
    background-color: #8BC34A;
  }
  .status-InProgress {
    background-color: #FF9800;
  }
  .status-Done {
    background-color: #86E023;
  }
  .status-Blocked{
    background-color: #FF0000;
  }
  .status-StandBy{
    background-color: #FF5600;
  }
}
